body {
  background-color: #6C6C94;
  background-image: url("http://www.brewsteracademy.org/Customized/Uploads/ByDate/2014/November_2014/November_7th_2014/Santomero_Camillo57466.JPG")
}

h1{
  text-decoration: overline
}

h2{
  text-decoration: underline
}